<!-- Custom HR -->
<hr class="custom-hr" />

<!-- Footer -->
<footer class="bg-dark text-white mt-0">
  <div class="container py-4">
    <div class="row justify-content-between">
      <div class="col-md-6 mb-3 mb-md-0">
        <h5>Thông báo</h5>
        <p>Tôi làm web phim lậu này với mục đích học hỏi. Tất cả nội dung trên
          trang web này đều được thu thập từ các trang web video chính thống
          trên Internet và tôi không cung cấp dịch vụ phát trực tuyến
          chính hãng. Nếu quyền lợi của bạn bị xâm phạm, vui lòng thông báo cho
          tôi, tôi sẽ kịp thời xóa bỏ nội dung vi phạm. Cảm ơn sự
          hợp tác của bạn!</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h5>Liên hệ</h5>
        <address>
          Email:
          <a
            href="#"
            class="text-white"
          >vohieu972003@gmail.com</a><br />
          Facebook:
          <a href="https://www.facebook.com/emhiulacloi" class="text-white">Facebook của Hiếu</a>
        </address>
      </div>
    </div>
  </div>
  <div class="bg-secondary text-center py-2">
    <p class="mb-0">&copy; 2024 Phim lậu siêu khủng ?</p>
  </div>
</footer>