<!-- Header -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.jpg" alt="Logo" style="height: 35px; width: 40px;" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-outline-light me-2" href="/signin">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-warning" href="/signup">Đăng ký</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/new-movie">Phim mới</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Thể loại <i class="fa-solid fa-caret-down" style="font-size: small;"></i>
          </a>
          <div class="dropdown-menu">
            <table class="table text-center table-borderless container m-0">
              <tbody>
                <tr>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/hanh-dong" class="text-decoration-none">Hành Động</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/vien-tuong" class="text-decoration-none">Viễn Tưởng</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/bi-an" class="text-decoration-none">Bí Ẩn</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/tam-ly" class="text-decoration-none">Tâm Lý</a></td>
                </tr>
                <tr>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/am-nhac" class="text-decoration-none">Âm Nhạc</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/hai-huoc" class="text-decoration-none">Hài Hước</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/khoa-hoc" class="text-decoration-none">Khoa Học</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/kinh-dien" class="text-decoration-none">Kinh Điển</a></td>
                </tr>
                <tr>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/co-trang" class="text-decoration-none">Cổ Trang</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/kinh-di" class="text-decoration-none">Kinh Dị</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/the-thao" class="text-decoration-none">Thể Thao</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/gia-dinh" class="text-decoration-none">Gia Đình</a></td>
                </tr>
                <tr>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/hinh-su" class="text-decoration-none">Hình Sự</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/than-thoai" class="text-decoration-none">Thần Thoại</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/chien-tranh" class="text-decoration-none">Chiến Tranh</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/tai-lieu" class="text-decoration-none">Tài Liệu</a></td>
                </tr>
                <tr>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/tinh-cam" class="text-decoration-none">Tình Cảm</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/phieu-luu" class="text-decoration-none">Phiêu Lưu</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/hoc-duong" class="text-decoration-none">Học Đường</a></td>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/vo-thuat" class="text-decoration-none">Võ Thuật</a></td>
                </tr>
                <tr>
                  <td class="td-type" onclick="navigateTo(this)"><a href="/type/chinh-kich" class="text-decoration-none">Chính Kịch</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/notice">Thông báo</a>
        </li>

      </ul>
      <form class="d-flex" role="search" method="GET" action="/search">
        <input class="form-control me-2" type="search" placeholder="Tìm gì đi?" id="search" name="search">
        <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
      </form>
    </div>
  </div>
</nav>


<form method="POST" class="form-submit" style="display: none;"></form>

<script>
  function getCookie(name) {
    const cookies = document.cookie.split(';');
    for (let cookie of cookies) {
      let [key, value] = cookie.split('=');
      key = key.trim();
      if (key === name) {
        return decodeURIComponent(value);
      }
    }
    return null;
  }

  function navigateTo(element) {
    // Tìm thẻ <a> bên trong <td> được click
    const link = element.querySelector('a');
    if (link && link.href) {
      window.location.href = link.href; // Điều hướng đến URL của thẻ <a>
    }
  }

  const aTag = document.querySelectorAll('.nav-link')
  const url = new URL(window.location.href)
  const pathName = url.pathname

  for (let i = 0; i < aTag.length; i++) {
    aTag[i].className = 'nav-link'
  }

  if (pathName == '/' || pathName == '/home') {
    aTag[0].className = 'nav-link active'
  }
  if (pathName == '/signin') {
    aTag[1].className = 'nav-link active'
  }
  if (pathName == '/signup') {
    aTag[2].className = 'nav-link active'
  }
  if (pathName == '/new-movie') {
    aTag[3].className = 'nav-link active'
  }
  if (pathName == '/type') {
    aTag[4].className = 'nav-link active'
  }
  if (pathName == '/notice') {
    aTag[5].className = 'nav-link active'
  }

  const user = getCookie("user");
  const logo = document.querySelector('.navbar-brand')
  if (user != null){
    aTag[1].style.display = 'none'
    aTag[2].style.display = 'none'
  } else {
    aTag[0].style.display = 'none'
    logo.href = '/new-movie'
  }
</script>
<!-- Content -->