<div class="container text-center mt-5">
    <h2 class="mt-3 mb-3">Ôi không lỗi rồi!!!!!</h2>
    <h1 class="mt-3 mb-3">{{status}}: {{message}}</h1>
    <h5 class="mt-3 mb-3">Tôi nghĩ bạn nên ấn vào nút ở dưới để quay về trang chủ!!</h5>
    <a href="/" class="btn btn-primary">Về trang chủ</a>
</div>