<div class="container my-5">
  <div class="mb-4">
    <h2>Ý tưởng</h2>
    <p>Dạo gần đây, khi xem phim miễn phí trên các trang web lậu, tôi gặp quá
      nhiều quảng cáo phiền phức. Nhân tiện tôi cũng đang học Node.js, tôi quyết
      định tạo một trang web xem phim lậu của riêng mình để có thể trải nghiệm
      phim mà không bị gián đoạn bởi quảng cáo.</p>
  </div>

  <div class="mb-4">
    <h2>Hướng dẫn sử dụng</h2>
    <p>Bạn nhớ tên bộ phim -> Nhập vào ô tìm kiếm -> Ấn thêm để thêm lối tắt vào trang chủ hoặc ấn xem để thưởng thức phim</p>
    <p>Bạn có thể xóa lối tắt bằng cách nhấn vào nút dấu 'x' ở cạnh ảnh của phim nhé.</p>
    <p>
      Website của tôi được thiết kế theo dạng to-do list. Khi bạn đang theo dõi
      một bộ phim dài tập và không muốn mất thời gian tìm kiếm lại mỗi lần truy
      cập, chỉ cần nhấn vào nút "Thêm" sau khi tìm kiếm lần đầu tiên. Bộ phim
      của bạn sẽ xuất hiện ngay tại trang chủ, sẵn sàng để bạn xem tiếp mà không
      cần tìm kiếm lại.
    </p>
    <p>Hiện tại tôi chưa có thể ý tưởng gì mới. Nếu bạn có ý tưởng gì có thể
      đóng góp cho tôi qua phần liên hệ ở cuối trang nhé. Cảm ơn bạn!</p>
  </div>

  <div class="mb-4">
    <h2>Có gì mới?</h2>
    <ul>
      <li>[16/11/2024] Tôi mới sửa lại nút chuyển trang ở trong phần phim mới cập nhật. Tôi dự định thêm phần thể loại phim?</li>
      <li>[18/11/2024] Tôi mới làm lại ô tìm kiếm. Nhưng bạn sẽ không tìm thấy những phim mới được cập nhật do tôi chưa lưu những phim đấy về csdl??</li>
      <li>[2/12/2024] Đã có thêm thể loại phim rồi!!! Tiếp theo sẽ là đăng nhập, đăng kí???</li>
    </ul>
  </div>

  <div class="mb-4">
    <h2>Lần cuối crawl dữ liệu</h2>
    <ul>
      <li>17/11/2024</li>
      <li>2/12/2024</li>
      <li>Những phim có thời gian cập nhật sau ngày ở phía trên bạn sẽ không thể tìm thấy trong ô search!!!!</li>
    </ul>
  </div>

</div>