<div class="container my-5">
  <div class="mb-4">
    <h2>Ý tưởng</h2>
    <p>Dạo gần đây, khi xem phim miễn phí trên các trang web lậu, tôi gặp quá
      nhiều quảng cáo phiền phức. Nhân tiện tôi cũng đang học Node.js, tôi quyết
      định tạo một trang web xem phim lậu của riêng mình để có thể trải nghiệm
      phim mà không bị gián đoạn bởi quảng cáo.</p>
  </div>

  <div class="mb-4">
    <h2>Hướng dẫn sử dụng</h2>
    <p>
      Website của tôi được thiết kế theo dạng to-do list. Khi bạn đang theo dõi
      một bộ phim dài tập và không muốn mất thời gian tìm kiếm lại mỗi lần truy
      cập, chỉ cần nhấn vào nút "Thêm" sau khi tìm kiếm lần đầu tiên. Bộ phim
      của bạn sẽ xuất hiện ngay tại trang chủ, sẵn sàng để bạn xem tiếp mà không
      cần tìm kiếm lại.
    </p>
    <p>Phim mới cập nhật là những bộ phim vừa được thêm từ API mà tôi sử dụng.
      Bạn có thể nhấn vào các bộ phim này để xem ngay.</p>
    <p>Hiện tại tôi chưa có thể ý tưởng gì mới. Nếu bạn có ý tưởng gì có thể
      đóng góp cho tôi qua phần liên hệ ở cuối trang nhé. Cảm ơn bạn!</p>
  </div>

  <div class="mb-4">
    <h2>Ưu điểm website của tôi</h2>
    <ul>
      <li>Tôi cũng không biết</li>
      <li>Nhưng mà không có quảng cáo vì tôi không biết quảng cáo gì =Đ</li>
    </ul>

  </div>
</div>